
// ---- form "actions" ----
.form-actions {
	background: @color-39;
  border-top: 1px solid @color-98;
}

// ---- inputs ----
input,
textarea,
.form-control,
input.form-control,
textarea.form-control,
textarea.markdown-area {
  #input-style();

  &::-webkit-input-placeholder { color: @color-79 !important; }
  &:-moz-placeholder { color: @color-79 !important; }
  &::-moz-placeholder { color: @color-79 !important; }
  &::input-placeholder { color: @color-79 !important; }
  &:input-placeholder { color: @color-79 !important; }
}

select.form-control {

	&, &:active, &.active, &:focus {
		background: @color-79;
		color: @color-196;
		text-shadow: none;
		border: none;
		box-shadow: 0 1px 0 rgba(0,0,0,.4);
	}

	&:hover {
		background: @color-79;
		color: @color-196;
	}
}



// ---- legends ----
legend,
fieldset > legend {
  color: @color-196;
  border-color: @color-79;
}

// ---- labels ----
label,
.control-label {}

// ---- input groups ----
.input-group {

  .input-group-addon {
    background-color: @color-29;
    color: @color-79;
    border-color: rgba(255,255,255,.1);
  }
}
