
// ---- text ----
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.page-with-sidebar .sidebar-wrapper,
header.navbar-gitlab .app_logo,
header.navbar-gitlab .title {
  font-family: 'DIN OT', 'DIN', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// ---- links ----
a {
  #link-colors();
}

// ---- code ----
code {
  background-color: @color-29;
  color: @color-warning;
}

// ---- help block ----
.help-block {
  color: @color-98;
}

.cgreen {
  color: @color-diff-new-bright;
}

.cred {
  color: @color-diff-old-bright;
}
.cgray,
.light,
.description-block {
  color: @color-98;

  .btn & {
    color: @color-147;
  }
}

// file tree: text color (+ a lot of others)
.tree-holder .tree_commit .tree-commit-link,
li.commit.inline-commit .committed_ago,
ul.notes .discussion-header,
ul.notes .note-header,
ul.notes .discussion-header .discussion-last-update a,
ul.notes .discussion-header .note-last-update a,
ul.notes .note-header .discussion-last-update a,
ul.notes .note-header .note-last-update a,
.discussion .discussion-actions a:hover,
.discussion .note-actions a:hover,
.note .discussion-actions a:hover,
.note .note-actions a:hover {
	color: @color-98;
}
