.clearfix {
  zoom: 1;

  &:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

#link-colors() {
  color: @link-color;

  &:hover {
    color: @link-hover-color;
  }
}

#button-style(@bg, @color, @hover-bg, @disabled-bg) {
	background: @bg;
  color: @color;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background: @hover-bg;
    color: @color;
  }

  // -- disabled state --
  &[disabled],
  fieldset[disabled] &,
  &.disabled {
    &, &:hover, &:focus, &.focus, &:active, &.active {
      background: @disabled-bg;
      color: lighten(@disabled-bg, 20%);
    }
  }
}

#input-style() {
  background-color: transparent;
  border-color: rgba(255,255,255,.1);
  color: rgba(255,255,255,.25);
  font-weight: normal;
  border-radius: @base-border-radius;

  &:focus {
    background-color: rgba(255,255,255,.05);
    border-color: rgba(255,255,255,.2);
    outline: none;
    box-shadow: 0 0 6px rgba(0,0,0,.2);
    color: white;
  }

  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    &, &:focus {
      background-color: @color-29;
      border-color: @color-69;
      color: @color-79;
    }
  }
}
