/*
 *  Application Header
 *
 */
header {
  &.navbar-gitlab {
    .container {
      background: @obish-header-bg;
      border-bottom: 1px solid @obish-page-subtle-color;

      .title {
        color: @color-bluescale-14;

        a {
          color: @color-bluescale-14;
        }
      }

      .nav > li > a {
        color: @color-bluescale-10;
        font-size: 14px;
        line-height: 32px;
        padding: 6px 10px;

        &:hover, &:focus, &:active {
          color: @color-secondary-bright;
          background: none;
        }
      }

      /** NAV block with links and profile **/
      .nav {
        float: right;
        margin-right: 0;
      }

      .navbar-toggle {
        color: @color-bluescale-10;

        &:hover {
          background-color: @color-bluescale-6;
        }
      }
    }

    /**
     *
     * Logo holder
     *
     */
    .app_logo {
      float: left;
      margin-right: 9px;

      a {
        float: left;
        height: 46px;
        width: 100%;

        img {
          width: 36px;
          height: 36px;
        }
      }
      &:hover {
        background-color: #EEE;
      }
    }

    /**
     *
     * Search box
     *
     */
    .search {
      margin-right: 10px;
      margin-left: 10px;
      margin-top: 8px;

      form {
        margin: 0;
        padding: 0;
      }

      .search-input {
        #border-radius(@input-border-radius);
        border: 1px solid @input-border;
        background-color: @input-bg;
      }
    }
  }
}
